@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap');
body {
    background: #fff;
    font-family: 'Montserrat', sans-serif;
}

a {
    display: inline-block;
    color: inherit;
}

p {
    font-size: 14px;
}

button:focus {
    outline: none;
}

a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 38px;
    margin: 0;
}

h2 {
    font-size: 22px;
    margin: 0;
}

h3 {
    font-size: 20px;
    margin: 0;
}

h4 {
    font-size: 18px;
    margin: 0;
}

h5 {
    font-size: 16px;
    margin: 0;
}

h6 {
    font-size: 12px;
    margin: 0;
}

span {
    display: inline-block;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

label {
    color: #203346;
    font-size: 15px;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 400;
}

input,
select {
    width: 100%;
    appearance: none;
    border: none;
    background: none;
    outline: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.left-header,
.right-header {
    display: flex;
    align-items: center;
}

header .logo {
    padding: 10px 25px;
    max-width: 250px;
}

header nav {
    padding-left: 10px;
    border-left: 1px solid #EAEDF3;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding: 15px;
}

header nav ul li a:hover {
    color: #4182FA;
}

.noti {
    position: relative;
    margin-right: 25px;
    width: 20px;
}

.noti span {
    position: absolute;
    top: -8px;
    right: -8px;
    background: #4182FA;
    border-radius: 50%;
    padding: 5px;
    font-size: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.pro-menu-sec {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    margin-right: 25px;
    border-left: 1px solid #EAEDF3;
}

.pro-menu-main {
    display: flex;
    align-items: center;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 0;
}

.pro-menu-sec .icon-img {
    position: absolute;
}

main {
    display: flex;
    background: #f9fcfd;
}

aside {
    width: 250px;
    background: #fff;
    padding: 25px;
}

.side-cus-main {
    margin: 25px 0;
}

aside h6 {
    margin: 15px 0;
    text-transform: uppercase;
}

aside label {
    display: flex;
    align-items: center;
}

aside label input {
    display: none;
}

aside label input~.check-icon {
    background: url('../img/unchecked.png') no-repeat center center/contain;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

aside label input:checked~.check-icon {
    background-image: url('../img/checked.png');
}

.main {
    width: calc(100% - 250px)
}

.banner {
    /* background: rgb(127, 190, 255);
    background: linear-gradient(0deg, rgba(127, 190, 255, 1) 0%, rgba(127, 190, 255, 0.37) 37%); */
    background: no-repeat center center/cover;
    height: 300px;
    color: #fff;
    padding: 50px 30px;
}

.ban-nav {
    margin-top: -63px;
    padding: 0 30px;
}

.ban-navi {
    display: flex;
    align-items: center;
}

.ban-nav li {
    margin: 0;
}

.ban-nav li a {
    display: flex;
    align-items: center;
    padding: 20px 40px 20px 60px;
    background: no-repeat 30px center/20px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 0;
}

.ban-nav li.active a {
    color: #000;
    background-color: #fff;
}

.ban-nav li .plane-tab {
    background-image: url('../img/plane-icon.png');
}

.ban-nav li.active .plane-tab {
    background-image: url('../img/plane-act-icon.png');
}

.ban-nav li .hotel-tab {
    background-image: url('../img/hotels-icon.png');
}

.ban-nav li.active .hotel-tab {
    background-image: url('../img/hotels-act-icon.png');
}

@media (min-width: 1450px) {
    .container {
        width: 1400px;
    }
}